<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--
========================== my note =====================
/magento/user/Controller/Adminhtml/User/Role/SaveRole
observer event name
-->
    <event name="controller_action_postdispatch_adminhtml_user_role_saverole">
        <observer name="tp2m_orderpricepermission" instance="TP2M\Orderpricepermission\Observer\Admin\Rule\SaveObserver" />
    </event>
</config>
